<!-- This is being used as an 'include' jinja template -->

{% if message.user_id != g.user.id %}
  <form class="like-star" method="POST">
    {{ g.csrf_form.hidden_tag() }}
    <!-- <input type="text" name="requesting_page" hidden
    value="{{ request.endpoint }}"> -->
    <!-- FIXME: put this^ in forms.py? -->


    {% if message.id in g.user.likes|map(attribute='message_id') %}
    <button formaction="/messages/{{ message.id }}/unlike" type="submit"
    class="btn btn-link" id="unlike-btn"><i class="bi bi-star-fill"></i></button>
    {% else %}
    <button formaction="/messages/{{ message.id }}/like" type="submit"
    class="btn btn-link" id="like-btn"><i class="bi bi-star"></i></button>
    {% endif %}

  </form>
{% endif %}
